.form-control
{
	width: 180px;

}
.panelSiglas
{
	float: right;
	width: 20%;
}

.inputMax
{
	width: 60%
}

.quincenal, .mensual, .anual
{
	width: 32.6%;
	float: left;
}
.quincenal, .mensual
{
	margin-right: 10px;
}

.inputTotal
{
	margin-top: 0px;
	display: initial;
}

.form-control[readonly]
{
	background-color: white; 
}
.titulo
{
	float: right;
    color: #ccc;
	font-size: 20px;
}
